@charset "UTF-8";
/* Scss Document */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit; }
  a:hover {
    opacity: 0.5 !important;
    transition: 0.5s; }

img {
  max-width: 100%;
  width: 100%; }

html, body {
  font-family: fot-cezanne-pron, "Hiragino Sans","ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  color: #f0fff2;
  font-feature-settings: "palt";
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 1.4rem; } }
  body.add_overray {
    overflow: hidden; }

svg {
  fill: currentColor; }

.sp {
  display: none; }
  @media screen and (max-width: 768px) {
    .sp {
      display: block !important; } }

.pc {
  display: block; }
  @media screen and (max-width: 768px) {
    .pc {
      display: none !important; } }

::selection {
  background: #FEFD32; }

.worksans {
  font-family: work-sans, fot-cezanne-pron, "Hiragino Sans","ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  font-weight: 400;
  font-style: normal; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0.7); }
  100% {
    -webkit-transform: scale(0.6);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0; } }
#loader-bg {
  background: #fff;
  position: fixed;
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0; }

.spinner {
  width: 300px;
  height: 300px;
  content: url("../img/mi.svg");
  -webkit-animation: sk-scaleout 4.0s infinite ease-in-out;
  animation: sk-scaleout 4.0s infinite ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -150px; }
  @media screen and (max-width: 768px) {
    .spinner {
      width: 300px;
      height: 300px;
      content: url("../img/mi.svg");
      -webkit-animation: sk-scaleout 4.0s infinite ease-in-out;
      animation: sk-scaleout 4.0s infinite ease-in-out;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -150px 0 0 -150px; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadein {
  opacity: 0;
  transform: translate(0, 140px);
  transition: all 1s; }
  @media screen and (max-width: 768px) {
    .fadein {
      transform: translate(0, 50px); } }

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0); }

#bg_dots {
  background: url("../img/bg_dot.png");
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0; }

#bg_loop {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.loop_js {
  display: -webkit-flex;
  display: flex;
  width: 3000px;
  height: 100vh; }

@media screen and (max-width: 768px) {
  .loop_js {
    height: 100vh;
    width: 1500px; } }
.loop_js img {
  width: auto !important;
  max-width: inherit !important; }

@media screen and (max-width: 768px) {
  .loop_js img {
    width: auto !important;
    max-width: 100% !important; } }
.loop_js > * {
  height: auto; }

#icons {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  text-align: center; }
  #icons li {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000; }
    @media screen and (max-width: 768px) {
      #icons li {
        width: 65px;
        height: 65px; } }
    #icons li img {
      width: 70%; }
    #icons li:nth-child(1) {
      background: #DD4229; }
    #icons li:nth-child(2) {
      background: #f34dda; }
    #icons li:nth-child(3) {
      background: #00A0FD; }
    #icons li:nth-child(4) {
      background: #e8be00; }

nav#toggle {
  height: 80px;
  position: absolute;
  z-index: 100000000;
  top: 0;
  left: 0;
  width: 80px; }
  @media screen and (max-width: 768px) {
    nav#toggle {
      height: 40px;
      width: 40px; } }

#nav-toggle {
  position: absolute;
  top: 24px;
  left: 22px;
  height: 32px;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    #nav-toggle {
      height: 20px;
      left: -10px;
      top: -10px; } }
  #nav-toggle > div {
    position: relative;
    width: 36px; }
    @media screen and (max-width: 768px) {
      #nav-toggle > div {
        width: 30px; } }
  #nav-toggle span {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: #fff;
    position: absolute;
    transition: transform .6s ease-in-out, top .5s ease; }
    #nav-toggle span:nth-child(1) {
      top: 0; }
    #nav-toggle span:nth-child(2) {
      top: 14px; }
      @media screen and (max-width: 768px) {
        #nav-toggle span:nth-child(2) {
          top: 10px; } }
    #nav-toggle span:nth-child(3) {
      top: 28px; }
      @media screen and (max-width: 768px) {
        #nav-toggle span:nth-child(3) {
          top: 20px; } }
  #nav-toggle:hover span:nth-child(1) {
    top: 4px; }
    @media screen and (max-width: 768px) {
      #nav-toggle:hover span:nth-child(1) {
        top: 0; } }
  #nav-toggle:hover span:nth-child(3) {
    top: 23px; }
    @media screen and (max-width: 768px) {
      #nav-toggle:hover span:nth-child(3) {
        top: 20px; } }

.open #nav-toggle span {
  background: #fff; }
  .open #nav-toggle span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg); }
  .open #nav-toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%; }
  .open #nav-toggle span:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg); }

/* z-index */
#nav-toggle {
  z-index: 1000; }

#container {
  z-index: 900; }

#gloval-nav {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  width: 100vw;
  height: 100vh;
  text-align: left;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease; }

#gloval-nav a {
  display: block;
  color: #FEFD32;
  transition: color .6s ease;
  font-size: 6rem;
  text-decoration: none;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    #gloval-nav a {
      font-size: 3rem; } }
  #gloval-nav a:hover {
    color: #666; }
#gloval-nav ul {
  list-style: none;
  width: 100%; }
  #gloval-nav ul li {
    opacity: 0;
    transform: translateX(200px);
    transition: transform .6s ease, opacity .2s ease;
    padding: 15px 0 15px; }
    #gloval-nav ul li:first-child {
      padding: 0 0 15px; }
    #gloval-nav ul li:nth-child(2) {
      transition-delay: .15s; }
    #gloval-nav ul li:nth-child(3) {
      transition-delay: .3s; }
    #gloval-nav ul li:nth-child(4) {
      transition-delay: .45s; }
    #gloval-nav ul li:nth-child(5) {
      transition-delay: .6s; }
    #gloval-nav ul li:nth-child(6) {
      transition-delay: .75s; }

/* open */
.open {
  /*overflow: hidden;*/ }
  .open #gloval-nav {
    visibility: visible;
    opacity: 1; }
  .open #gloval-nav li {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease, opacity .9s ease; }

header {
  position: fixed;
  height: 80px;
  z-index: 999999999;
  width: 80px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translate(0, -50%);
  /*位置調整*/
  right: 0; }
  @media screen and (max-width: 768px) {
    header {
      height: 40px;
      width: 40px; } }

.content {
  position: relative;
  z-index: 2; }

@keyframes hurueru {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg); }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg); }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg); }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg); }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg); } }
#intro {
  height: 100vh;
  background: #000009; }
  @media screen and (max-width: 768px) {
    #intro {
      padding: 150px 0;
      height: auto; } }
  #intro .content {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%); }
    @media screen and (max-width: 768px) {
      #intro .content {
        width: 88%;
        top: auto;
        transform: inherit; } }
    @media screen and (max-width: 960px) {
      #intro .content {
        width: 80%; } }
    #intro .content h1 {
      font-size: 10rem;
      line-height: 1.05;
      font-weight: 900;
      display: inline; }
      #intro .content h1:hover {
        animation: hurueru .1s  infinite;
        display: block; }
      @media screen and (max-height: 800px) {
        #intro .content h1 {
          font-size: 7rem; } }
      @media screen and (max-width: 960px) {
        #intro .content h1 {
          font-size: 7.5rem;
          line-height: 1.25;
          transform: none; } }
      @media screen and (max-width: 768px) {
        #intro .content h1 {
          font-size: 4rem;
          line-height: 1.25;
          transform: none; } }

#news {
  padding: 120px 0 120px;
  background: #f0fff2;
  color: #000009;
  width: 60%; }
  @media screen and (max-width: 960px) {
    #news {
      width: 80%; } }
  @media screen and (max-width: 768px) {
    #news {
      width: 94%;
      padding: 60px 0;
      margin: 30px 0; } }
  #news .content {
    width: 88%;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      #news .content {
        width: 80%; } }
    #news .content h2 {
      font-size: 6rem;
      margin-bottom: 45px;
      font-weight: 700;
      line-height: 1;
      padding-left: 6%; }
      @media screen and (max-width: 768px) {
        #news .content h2 {
          font-size: 4rem;
          margin-bottom: 30px;
          padding-left: 0; } }
    #news .content ul li {
      width: 94%;
      margin: 0 0 0 6%;
      padding: 20px 30px;
      border-bottom: 1px solid #666; }
      @media screen and (max-width: 768px) {
        #news .content ul li {
          width: 100%;
          margin: 0 auto;
          padding: 20px 15px; } }
      @media screen and (max-width: 960px) {
        #news .content ul li {
          margin: 0 auto;
          width: 100%; } }
      #news .content ul li:nth-child(1) {
        border-top: 1px solid #666; }
      #news .content ul li dl {
        display: flex;
        flex-wrap: nowrap; }
        @media screen and (max-width: 768px) {
          #news .content ul li dl {
            display: block; } }
        #news .content ul li dl dt {
          font-size: 1.4rem;
          margin-right: 30px; }
          @media screen and (max-width: 768px) {
            #news .content ul li dl dt {
              width: 100%;
              margin-bottom: 2px; } }
        #news .content ul li dl dd {
          font-weight: 600; }
      #news .content ul li a {
        display: block; }
  #news .linkbox {
    padding: 20px;
    text-align: center;
    display: block;
    width: 30%;
    margin: 40px auto 0;
    font-weight: 600; }
    @media screen and (max-width: 768px) {
      #news .linkbox {
        width: 100%; } }

#news_low {
  padding: 200px 0 120px;
  background: #000009;
  color: #f0fff2;
  width: 94%;
  margin: 60px 6% 60px 0; }
  @media screen and (max-width: 768px) {
    #news_low {
      padding: 120px 0;
      width: 100%;
      margin: 60px auto; } }
  #news_low .content {
    width: 88%;
    margin: 0 auto;
    max-width: 900px; }
    @media screen and (max-width: 768px) {
      #news_low .content {
        width: 80%; } }
    #news_low .content h2 {
      font-size: 6rem;
      margin-bottom: 45px;
      font-weight: 700;
      line-height: 1; }
      @media screen and (max-width: 768px) {
        #news_low .content h2 {
          font-size: 4rem;
          margin-bottom: 30px; } }
    #news_low .content #news_detail h3 {
      font-size: 3rem;
      margin-bottom: 20px; }
      @media screen and (max-width: 768px) {
        #news_low .content #news_detail h3 {
          font-size: 2.4rem; } }
    #news_low .content #news_detail p {
      line-height: 2;
      margin-bottom: 15px; }
      #news_low .content #news_detail p.news_day {
        font-size: 1.2rem;
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px dotted #f0fff2;
        text-align: right; }
    #news_low .content .maplink {
      display: block;
      padding: 20px;
      width: 30%;
      text-align: center;
      border: 1px solid #f0fff2;
      color: #f0fff2;
      margin-top: 40px;
      margin-bottom: 40px; }
      @media screen and (max-width: 768px) {
        #news_low .content .maplink {
          width: 100%; } }

#schedule {
  padding: 120px 0 120px;
  background: #DD4229;
  color: #000009;
  width: 100%;
  margin: 60px auto; }
  @media screen and (max-width: 768px) {
    #schedule {
      padding: 60px 0;
      margin: 0 auto; } }
  #schedule .content {
    width: 88%;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      #schedule .content {
        width: 80%; } }
    #schedule .content h2 {
      font-size: 6rem;
      margin-bottom: 45px;
      font-weight: 700;
      line-height: 1; }
      @media screen and (max-width: 768px) {
        #schedule .content h2 {
          font-size: 4rem;
          margin-bottom: 30px; } }
    #schedule .content .schedule_box {
      border-bottom: 1px solid #000009;
      padding: 20px 30px;
      display: block; }
      @media screen and (max-width: 768px) {
        #schedule .content .schedule_box {
          padding: 15px 0;
          border-top: 1px solid #000009; } }
      #schedule .content .schedule_box ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
        @media screen and (max-width: 768px) {
          #schedule .content .schedule_box ul {
            display: block; } }
        #schedule .content .schedule_box ul li {
          font-size: 2rem;
          font-weight: bold;
          line-height: 1.25; }
          #schedule .content .schedule_box ul li:nth-child(1) {
            width: 100%;
            margin-bottom: 5px;
            font-size: 2.8rem; }
            @media screen and (max-width: 768px) {
              #schedule .content .schedule_box ul li:nth-child(1) {
                font-size: 2.4rem; } }
          #schedule .content .schedule_box ul li:nth-child(2) {
            width: 15%; }
            @media screen and (max-width: 768px) {
              #schedule .content .schedule_box ul li:nth-child(2) {
                position: relative; }
                #schedule .content .schedule_box ul li:nth-child(2)::before {
                  content: "Day";
                  margin-right: 10px;
                  font-size: 1.2rem;
                  font-family: work-sans, fot-cezanne-pron, "Hiragino Sans","ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
                  font-weight: 300;
                  font-style: normal; } }
          #schedule .content .schedule_box ul li:nth-child(3) {
            width: 15%; }
            @media screen and (max-width: 768px) {
              #schedule .content .schedule_box ul li:nth-child(3) {
                position: relative; }
                #schedule .content .schedule_box ul li:nth-child(3)::before {
                  content: "Time";
                  margin-right: 10px;
                  font-size: 1.2rem;
                  font-family: work-sans, fot-cezanne-pron, "Hiragino Sans","ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
                  font-weight: 300;
                  font-style: normal; } }
          #schedule .content .schedule_box ul li:nth-child(4) {
            width: 20%; }
            @media screen and (max-width: 768px) {
              #schedule .content .schedule_box ul li:nth-child(4) {
                position: relative; }
                #schedule .content .schedule_box ul li:nth-child(4)::before {
                  content: "Charge";
                  margin-right: 10px;
                  font-size: 1.2rem;
                  font-family: work-sans, fot-cezanne-pron, "Hiragino Sans","ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
                  font-weight: 300;
                  font-style: normal; } }
          #schedule .content .schedule_box ul li:nth-child(5) {
            width: 40%;
            font-size: 2.2rem; }
            @media screen and (max-width: 768px) {
              #schedule .content .schedule_box ul li:nth-child(5) {
                position: relative; }
                #schedule .content .schedule_box ul li:nth-child(5)::before {
                  content: "Act";
                  margin-right: 10px;
                  font-size: 1.2rem;
                  font-family: work-sans, fot-cezanne-pron, "Hiragino Sans","ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
                  font-weight: 300;
                  font-style: normal; } }
          @media screen and (max-width: 768px) {
            #schedule .content .schedule_box ul li {
              width: 100% !important;
              margin-bottom: 4px;
              font-size: 1.6rem;
              line-height: 1.5; } }
  #schedule .linkbox {
    text-align: left;
    display: inline-block;
    margin: 20px;
    font-weight: 600;
    border-bottom: 1px dashed #000009;
    padding-bottom: 3px; }
    @media screen and (max-width: 768px) {
      #schedule .linkbox {
        display: block;
        width: 100%;
        text-align: center;
        margin: 20px auto; } }

#schedule_low {
  padding: 200px 0 120px;
  background: #DD4229;
  color: #000009;
  width: 94%;
  margin: 60px 6% 60px 0; }
  @media screen and (max-width: 768px) {
    #schedule_low {
      padding: 120px 0;
      width: 100%;
      margin: 60px auto; } }
  #schedule_low .content {
    width: 88%;
    margin: 0 auto;
    max-width: 900px; }
    @media screen and (max-width: 768px) {
      #schedule_low .content {
        width: 80%; } }
    #schedule_low .content h2 {
      font-size: 6rem;
      margin-bottom: 45px;
      font-weight: 700;
      line-height: 1; }
      @media screen and (max-width: 768px) {
        #schedule_low .content h2 {
          font-size: 4rem;
          margin-bottom: 30px; } }
    #schedule_low .content #schedule_detail img {
      height: auto !important; }
    #schedule_low .content #schedule_detail ul {
      margin-bottom: 30px; }
      #schedule_low .content #schedule_detail ul li {
        padding: 20px 15px;
        border-bottom: 1px solid #000009;
        font-size: 2rem;
        font-weight: 700; }
        #schedule_low .content #schedule_detail ul li span {
          font-weight: 300;
          margin-right: 15px;
          font-size: 1.4rem; }
        @media screen and (max-width: 768px) {
          #schedule_low .content #schedule_detail ul li {
            font-size: 1.7rem; } }
    #schedule_low .content #schedule_detail p {
      line-height: 1.75;
      margin-bottom: 10px; }
    #schedule_low .content .maplink {
      display: block;
      padding: 20px;
      width: 30%;
      text-align: center;
      border: 1px solid #000009;
      color: #000009;
      margin-top: 40px;
      margin-bottom: 40px; }
      @media screen and (max-width: 768px) {
        #schedule_low .content .maplink {
          width: 100%; } }

#info {
  padding: 120px 0 120px;
  background: rgba(0, 0, 10, 0.8);
  color: #f0fff2;
  width: 88%;
  margin: 60px auto 0;
  z-index: 3;
  position: relative; }
  @media screen and (max-width: 768px) {
    #info {
      padding: 60px 0;
      margin: 30px auto 0; } }
  #info .content {
    width: 88%;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      #info .content {
        width: 80%; } }
    #info .content h2 {
      font-size: 6rem;
      margin-bottom: 45px;
      font-weight: 700;
      line-height: 1; }
      @media screen and (max-width: 768px) {
        #info .content h2 {
          font-size: 4rem;
          margin-bottom: 30px; } }
    #info .content h3 {
      font-size: 3rem;
      margin-bottom: 30px;
      font-weight: 700;
      margin-top: 40px; }
      @media screen and (max-width: 768px) {
        #info .content h3 {
          font-size: 2.4rem; } }
    #info .content h4 {
      font-size: 1.8rem;
      font-weight: 300; }
      @media screen and (max-width: 768px) {
        #info .content h4 {
          font-size: 1.6rem; } }
    #info .content p {
      margin-bottom: 15px; }
      #info .content p.worksans {
        font-weight: 600; }
    #info .content .maplink {
      display: block;
      padding: 20px;
      width: 30%;
      text-align: center;
      border: 1px solid #f0fff2;
      margin-top: 40px;
      margin-bottom: 40px; }
      @media screen and (max-width: 768px) {
        #info .content .maplink {
          width: 100%; } }

#info_img {
  background: rgba(0, 0, 10, 0.8);
  color: #f0fff2;
  width: 40%;
  z-index: 3;
  position: relative;
  margin: -120px 0 0 54%; }
  @media screen and (max-width: 768px) {
    #info_img {
      margin: 0 auto 30px;
      width: 88%; } }

#sis {
  background: #FFF530;
  padding: 120px 0 120px;
  color: #000009;
  width: 94%;
  margin: 60px 6% 60px 0; }
  @media screen and (max-width: 768px) {
    #sis {
      width: 100%;
      padding: 60px 0;
      margin: 30px auto 60px; } }
  #sis .content {
    width: 88%;
    margin: 0 auto; }
    #sis .content h2 {
      font-size: 6rem;
      margin-bottom: 45px;
      font-weight: 700;
      line-height: 1; }
      @media screen and (max-width: 768px) {
        #sis .content h2 {
          font-size: 4rem;
          margin-bottom: 30px; } }
    #sis .content h3 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 20px; }
    #sis .content .maplink {
      display: block;
      padding: 20px;
      width: 30%;
      text-align: center;
      border: 1px solid #000009;
      margin-top: 40px;
      margin-bottom: 40px; }
      @media screen and (max-width: 768px) {
        #sis .content .maplink {
          width: 100%; } }

footer {
  padding: 60px 6% 120px;
  text-align: left;
  width: 88%;
  margin: 0 0 0 12%;
  font-size: 1rem;
  color: #000009;
  background: #f0fff2; }
  @media screen and (max-width: 768px) {
    footer {
      width: 100%;
      margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
